---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body class="notransition">
  <script type="text/javascript">
    !function(){var t=localStorage.getItem("theme");if(t==="dark"){document.body.setAttribute("data-theme","dark");document.documentElement.setAttribute("data-theme","dark")}else if(t==="light"){document.body.removeAttribute("data-theme");document.documentElement.removeAttribute("data-theme")}setTimeout(function(){document.body.classList.remove("notransition")},75)}();
  </script>
  {% include navbar.html %}
  <div class="wrapper">
    {% include author.html %}
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
